 /* GENERAL CSS------------------------------------------*/
body { 
    font-family:Raleway, arial ;
    padding-top: 59px;
    margin:0;
    }
h1 { font-size: 64px; font-weight: 400; color: white;  }
h2 {font-size: 24px; font-weight: 400; color:black; }
h3 { font-size: 18px; font-weight: 400; color:black; }

p {margin: 0; font-size: 15px; line-height: 1.8;}

a 
{
    text-decoration-line: none;
    color: black;
}


/*  HEADER SECTION CSS--------------------------------- */ 
.header-section{
    height: 59px;
    width: 100%;
    display : flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


/* LEFT SECTION ------ */
.header-left{ 
    display: flex;
    align-items: center;
    flex:1;
    font-size: 15px;
}

.logo-button { 
    padding:20px 16px;
    letter-spacing: 4px;}

/* RIGHT SECTION ------ */
.header-right{
    font-size: 15px;
    display : flex;
    flex-direction: row;
    float: right;
    align-items: center;
    justify-content: space-between;
    text-align:center;
    
}


.header-right-button { 
    padding: 20.5px 16px; 
    float: right; margin:0; 
    box-sizing: inherit;
    flex-shrink: 0;}

.header-menu-button
{   padding: 20px 23px; 
    margin-right:-60px;
    flex-shrink: 0;
    
}


.header-right-button:hover, .logo-button:hover, .header-menu-button:hover {
    background-color: rgb(231, 230, 230);
    cursor: pointer;
}


@media (max-width: 600px)
{     

    .header-right-button
        {margin-top: -100px;}

    .header-menu-button {
        margin-right: 0px;
        position: absolute;
        right:0; }

}





/*SIDE BAR ----------------------------------------------*/
#sidebar
{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    background-color: black;
    color: white;
    width: 200px;
    z-index: 200;
    display: none;
    flex-direction: column;
    margin-left: 0px;
}
.with_nav #sidebar {
    display: flex;
}

#sidebar a {color: white;}

.side-bar-button
{ 
    padding: 16px 20px;

}

.side-bar-button:hover 
{
    background-color: rgb(195, 194, 194);
    color: black;
}


/* HEADING ----------------------------------*/
.heading { 
    margin-top: 0;
    position: relative;
    background-image: url('https://www.w3schools.com/w3images/mac.jpg');
    background-repeat: no-repeat;
    background-attachment: absolute ;
    background-size: cover;
    background-position: center;
    height: 580px;
    padding:50px;
    display: flex;
    flex-direction: column;
    line-height: 1.8;  /* chiều cao của hộp chứa dòng văn bản hiển thị= kích cỡ font x 1.8*/
    filter: grayscale(50%); /* làm mờ màu ảnh nền */
    
}


.heading-text-1 {
    color: rgb(255, 255, 255);
    font-size: 64px;;
    width: auto;
    line-height: 1.8;
    margin-top: 70px;
    text-align: left;
    
}

@media (max-width: 600px)
{
    .heading-text-1 { font-size: 36px; margin-top: 120px;}
}

.heading-text-2 { 
    color: white;
    font-size: 18px;
    
}

.heading-button { 
    margin-top: 30px;
    padding: 12px 24px;
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    font-size: 18px;
    width: fit-content;
    text-align: center;
    
}

.heading-button:hover 
{
    background-color: rgba(255,255,255,0.7);
    color: rgba(0,0,0,0.9);
    cursor: pointer;
}

.SNS-logo-heading
{
    padding: 24px 48px;
    margin-bottom: 0;
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.SNS-logo-heading i:hover {opacity: 0.5;}



/* ABOUT THE COMPANY ----------------------------------------*/
/* chung------- */
#ABOUT
{
    padding: 128px 16px;
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    text-align: center;
}



#ABOUT h2
{
    margin: 10px 0;
    text-transform: none;
}

.about-the-company-title-2 {
    font-size: 18px ;
    text-align: center;
    margin: 18px 0;
}



/*content ------*/
.about-the-company-content{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    text-align: center;
}

@media (max-width: 600px)
{.about-the-company-content {flex-direction: column;}}


.about-the-company-content-title
{   margin:18px;
    font-size: 18px;
    text-align: center;
}

.about-the-company-content-1, .about-the-company-content-2,
.about-the-company-content-3, .about-the-company-content-4
{padding: 0 8px;}


.about-the-company-content-text
{ 
    font-size: 15px;
    text-align: center;
    margin:18px;
}

/*WE KNOW DESIGN STYLE ---------------*/

.We-know-design
{
    background-color: #ececec;
    padding: 128px 16px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px)
{
    .We-know-design { flex-direction: column;}
    .We-know-design-image {margin-top: 30px;}
}

.We-know-design-image{ 
    max-width: 100%;
    height: auto;
    padding:0 8px;
    border-radius: 3%;
}

.We-know-design-content { padding: 0 8px;}

.We-know-design-button 
{   color: white;
    background-color: black;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 20px;
}

.We-know-design-button:hover {
    background-color: rgb(209, 209, 209);
    color: black;
    cursor: pointer;
}

/* khoang cach giua cac phan tu trong flexbox
        column-gap: 16px;
        row-gap: 40px;
*/



/* THE TEAM -----------------------------------*/

#TEAM {
    margin: 0;
    padding:0;
    padding-top: 100px;
    box-sizing: border-box;
    background-color:#c4c4c4 ;
}
.team-title-1 {
    margin:18px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}



.team-title-2 { 
    margin: 18px 0;
    font-size: 18px;
    text-align: center;
}

.container { 
    min-height: 85vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}


.card-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 20px;
}

/* @media (max-width: 600px) {
    .the-team-grid {grid-template-columns: 1fr 1fr 1fr;}}
  
  @media (min-width: 992px) {
    .the-team-grid { grid-template-columns: 1fr 1fr 1fr 1fr;}} */


.card{

    position: relative;
    background: rgb(255, 253, 253) ;
    max-width: 300px;
    width: 300px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%);
    border-radius : 10px;
    overflow: hidden;



}
.card .h2{ text-transform: none; margin-top: 0;}

.card-image
{   width: 100%; 
    height: 200px;
    object-fit: contain;
    object-fit: cover;
    filter: grayscale(65%);

}

.card-info {
    position: relative;
    padding: 10px 20px 20px;
}

.member-position { color: grey; margin: 15px 0;}
.contact { 
    background-color: rgb(235, 234, 234);
    text-align: center;
    padding: 8px 16px;
    margin-top: 15px;
}

.contact:hover 
    { background-color: lightgrey;
    cursor: pointer;}

.pagination {
    text-align: center;
    margin: 0px 30px 60px;
    user-select: none;
}

.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%);
}

.pagination li a {
    color :#000000 ;
    text-decoration: none;
    line-height: 45px;
    cursor: pointer;
}

.previous-page, .next-page
{
    background: #616161 ;
    color : white;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease ;
}

.previous-page:hover {
    transform: translate(-5px);
}
.next-page:hover {
    transform: translate(5px);
}


.current-page, .page-item-dots { 
    background: white;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #616161;
}

.disable { 
    background: white;
}



/* NUMBER CONTAINER --------------------------*/

.number-container
{
    padding: 64px 16px;
    background-color: #616161;
    display: flex;
    flex-direction: row;
    box-sizing: inherit;
    text-align: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .number-container{flex-direction: column; align-items: center;}}

.number-info { width: 24.99999%; color: white;}

/*OUR WORK-------------------------------*/
#WORK {
    padding :128px 16px; 
    text-align: center;
    display: flex;
    flex-direction: column;
}

.our-work-picture-grid
{   margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .our-work-picture-grid { grid-template-columns: 1fr;}}
  
  @media (min-width: 992px) {
    .our-work-picture-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;}}


.our-work-picture {width: 100%;}

.our-work-picture:hover{opacity: 0.6;}

/* PHÂN TRANGGGGGGGGGGGGGGGGGGGGGGGGG*/


.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }



/***************************************************/
/*our skills -------------------------------------*/
.our-skills
{   padding: 64px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    background-color: #f1f1f1;
}

@media (max-width: 600px) {
    .our-skills { display: flex; flex-direction: column; }
}

.our-skill-text
{   
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 8px;
}

.our-skill-percent
{   display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    display: flex;
    column-gap: 16px;
    align-items: stretch;
}

.our-skill-percent p 
{   
    text-align: center;
    background-color: #616161 ;
    float: left;
}

.our-skill-percent article
{letter-spacing: 4px;}

.percent{
    background-color: #9e9e9e;
    color:white;
    height: 28px;
    margin:16px 0;
}


/*PRICING -------------------------------------------------*/

#PRICING {
    padding: 128px 16px;
    background-color: #616161;
    text-align: center;

}
#PRICING h2, #PRICING h3 {color: white;}
#PRICING h3 {margin: 40px 0 70px 0;}

.pricing-table
{   
    border: none;
    line-height:27px;
    margin-top: 18px;
    padding:0 8px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 30px;
}

@media (max-width: 600px) {
    .pricing-table { display: flex; flex-direction: column; }
}

.table-1, .table-2
{   width: 100%; 
    line-height:27px;
    background-color: white;
    /* margin: 10px 0; */
}
.table-2 { margin: -16px 0;}


.table-1 p,.table-2 p {color:black; border-bottom: 1px solid rgb(226, 226, 226) ; padding:16px;}
.table-1 h2 {
    background-color: black;
    color: white;
    padding: 32px 16px;
    margin:0;}

.table-2 h2 {
    background-color: #f44336;
    color: white;
    padding: 48px 16px;
    margin:0;}

.sign-up
{   padding: 24px 16px;
    background-color: #f1f1f1;
    border: none;
    color: white;
    text-align: center;
}
.sign-up-button {
    border: none; 
    background-color: black;
    color: white;
    padding: 12px 24px;
    width: 65px;
    text-align: center;
    display: inline-block;
    }

.sign-up-button:hover 
{cursor: pointer; background-color: #9e9e9e; }

.sign-up-button p {color: white;}

/*CONTACT ---------------------------------------------*/
#CONTACT
{
    padding: 128px 16px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.info-to-contact {list-style-type: none; line-height: 50px; }

#CONTACT h2, #CONTACT h3 {text-align:center; margin-top: 16px;  }

.contact-form { 
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-family: Raleway, arial; 
    font-size: 18px;
}

.table-input {
    display: block;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.05);
    margin-bottom: 20px;
    font-family: Raleway, arial;
    font-size: 16px;
}

.table-input::placeholder {
    font-size: 16px;
    font-family: Raleway, arial;
    font-weight: 300;
}

.table-input:hover{
    border: 1px solid #9a9a9a;
    cursor: text;
 }



/* .form-control
{
    border: 1px solid rgb(227, 227, 227);
    padding: 8px 16px;
    margin-top: 16px;
    font-size: 15px;
    height: 28px;
    
}
.form-control:hover {border-color: #000000; }

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: row;
  }



.form-label {
    display: inline ;
    vertical-align: inherit;
    font-weight: 300;
    text-align: center;
}

 */
/* form validate*/

.form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }

.form-group.invalid .form-message {
    color: #f33a58;
  }

.form-message {
    font-size: 13px;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }

/*  ----------------  */
  #send
{
    background-color: black;
    color: white;
    padding: 15px 16px;
    width: 175px;
    text-align: center;
    margin-bottom: 70px;
    border: none;
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
    font-family: Raleway, arial;
}

#send:hover{
    color: black;
    background-color: #acacac;
    cursor: pointer;
    
}

#send:active {
    font-weight: bold;
    background-color: #8c8c8c;
}

/*footer ------------------------------------------------------*/
.footer
{   text-align: center;
    background-color: black;
    color: white;
    padding: 64px 0;
}

.to-the-top-button 
{   
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    width: 110px;
    display: inline-block;
}

.SNS-logo {
    margin: 25px 0;
}

.SNS-logo i:hover {opacity: 0.7;cursor: pointer; }